/* TEMPLATE STYLESHEET */
/* These are some suggested groupings for your stylesheet... */
/* Default styling styling for the body.*/

body {font-family: sans-serif; /* update with Google font, web safe font and generic fallback */ font-size: 100%; /* the default browser font size is 16px */ line-height: 1;/* update to suit your type choices */color: #000;/* base text colour - update to suit your design */}
body {padding-left: 10px; padding-right: 10px;justify-content:center;}
html {font-size: 16px;}
/* Improves default font styles for forms  */

/*textarea,
 input {
    font-family:sans-serif, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 11px;
    font-weight: bold;
    text-decoration: #000094;
}*/
form input,form textarea {padding: 0.4em 0.3em;font-size: 1.5em;/* these elements do not inherit the font-family from the body tag */font-family: arial, helvetica, sans-serif;font-style: italic;font-weight: bold; text-decoration: #000094;/* border: 1px solid #bbb;*/
 border-radius: 0.2em;min-width: 90%;max-width: 90%;}
/* lighter grey, less visually heavy */
 /* box sizing */
html {box-sizing: border-box;} *,*:before,*:after { box-sizing: inherit;}
/* flexible content images code */
/* element styling (e.g. standard p, h1, h2, a, etc) */
h1,h2 {font-weight: normal; font-family: 'Karla', sans-serif, Verdana, Geneva, Tahoma; font-family: 'Karla', sans-serif;/* DJW: this one is winning */}
h1 {font-size: 3.5rem;text-align: center;font-weight: 900;margin: 0;color: darkblue;}
h2 {font-size: 2.7rem; font-family: 'karla'; font-weight: bolder; margin: 0; padding: 5px 5px 10px 5px; text-transform: uppercase; color: darkblue; text-align: center;}
h3 {margin: 0;padding: 0;
}
p {font-family: Georgia, 'Times New Roman', Times, serif;margin: 0;padding: 0;}
/* DJW: this selector says 'style something with a class of tab inside a paragraph tag */
p {background-color: #F7B267;} .tab {background-color:#F7B267 ;}
/* navigation (using flexbox) */
/* navigation (using flexbox) */
.page-nav ul { display: flex; flex-wrap: wrap; border-top: 1px solid #ddd; border-right: 1px solid #ddd; list-style-type: none; margin: 0;padding: 0;}
.page-nav li {flex: 1 1 50%; display: flex; border-bottom: 1px solid #ddd; border-left: 1px solid #ddd; }
.page-nav a {padding: 15px 10px; display: flex; text-decoration: none; align-items: center; justify-content: center; flex: 1 1 auto; transition: all 0.2s ease;}
/* small screen code a:link .page-nav */
.page-nav a:hover {background: #eee; color: #000;} 
.page-nav a:hover {background: #F2F4FD;color: #624158;}
.page-nav a:focus {background: chartreuse; color: cornflowerblue;}
.page-nav a:active { background: #00FFFF; color: #000094;}
.page-nav a:link {background:purple;color:#000094;}
.page-nav li { flex: 1 1 25%; }
/* page header */

.page-header {background-color: #4F0070;display: flex;height: 90vh;align-items: center;justify-content: center;}
.page-header2 {background-color: palevioletred; background-color:rgb(202, 168, 202); background-image: url(images/R.jpg); display: flex; min-height:3vh; align-items: center;justify-content: center;}
.page-header {display: flex; height: 75vh; align-items: center; justify-content: center;}
.page-header { background-color: #4F0070; background-image: url(../images/optimised-image.jpg); background-repeat: no-repeat; background-position: center; background-blend-mode: multiply;min-height: 40vh;background-size: cover;}
.page-header {background-color: green;  background-image: url(../images/optimised-image.jpg); background-repeat: no-repeat; background-position: center; background-blend-mode: normal;min-height: 40vh;background-size: cover;}
.page-header {background-color: green; background-image: url(../images/optimised-image.jpg); /*background-image: url(../images/sunset.jpg);*/ background-repeat: no-repeat;background-position: center;background-blend-mode: normal;min-height: 30vh;background-size: cover;}
/*miscellanious styling*/
.container-content { border: whitesmoke dashed 1px; background-image: url(images/Barclays-card.jpg); background-color: #F7B267;}
nav {background-color: #FFDBFF; color: aqua;}
a {color: blue; }
.center { display: block; margin-left: auto; margin-right: auto; width: 250px;}
.img-he { position: relative;}
img { max-width: 100%; height: auto;}
.contact-me { max-width: 600px; margin-left: auto; margin-right: auto; padding: 10px;}  
.about-me {background-color: darkturquoise;}
.work-experience {background-color: white;}
.image-gallery {background-color: #4F0070;}
.contact-me { background-color: #F7B267; text-align: center;}
/* main layout */
/*Header styling */
.header-content h1 { font-size: 3rem; text-shadow: 0 0 10px rgb(0, 0, 0, 0.5);}
.header-content p {font-size: 1.2rem;}
.header-content { max-width: 500px; font-size: 1.35rem; color: #fff; text-align: center; padding: 10px;}
p {text-align: justify;}
.header-content a {display: inline-block; margin-top: 10px; margin-right: 10px; padding: 10px 20px; background: white; color: black; border-radius: 0.2em; text-decoration: none;font-weight: bold;font-size: 1rem;}
.header-content h1 { max-width: 500px; color: white; text-shadow: 0 0 10px rgb(0, 0, 0, 0.8); text-align: center; font-weight: bold;}
/* styling for the section content */
/* background colours for sections */
/* image gallery media queries and size overrides */
.image-gallery .container-content {max-width: 1200px; margin: 0 auto;}
.image-gallery h2 {text-align: center;}
.image-gallery h2 {text-align: center;}
.image-gallery .an-image {margin: 0;}
.image-gallery .image-caption {padding: 8px 0 50px 0;}
/* increase the 'breakpoint' here so small screens don't get the 3 column layout. I've increased this to 750px */
@media screen and (min-width: 750px) { .image-gallery .image-container {max-width: 1200px; display: flex; gap: 20px;}}
.image-gallery .an-image { flex: 33%; max-width:1200px; padding: 20px; background: white;}
/* larger screen code */
@media screen and (min-width: 1200px) {.page-nav li {flex: 1 1 25%; border-collapse: inherit; border-style: solid; border-top-color: orange; border-bottom-color: orange;border-left-color: orange;border-right-color: orange;}}
@media screen and (min-width: 760px){ .work-experience {flex:1 1 35%;}}
@media screen and (min-width: 760px) {.page-nav ul {flex-wrap: nowrap; border-collapse: inherit; border-style: solid; border-top-color: orange; border-bottom-color: orange; border-left-color: orange;border-right-color: orange;}
.page-nav li {flex: 1 1 25%;}}

/* DJW: change this to container content, so it doesn't affect all divs */
.container-content {max-width: 750px; margin-left: auto; margin-right: auto; padding: 10px;}
.contact-me {max-width: 600px; margin-left: auto;margin-right: auto; padding: 10px;} 
.about-me {background-color: darkturquoise;}
/*p {
    text-align:center;
}*/
/* DJW: this isn't necessary as you've styled this further up the CSS file? */
/* DJW: I would put the form styles at the bottom of your stylesheet as that matches the HTML order? */
/* form styling */
/*input,*/
/*textarea {*/
/*font-family: sans-serif; /* update with Google font, web safe font and generic fallback*/
/*}*/
input,textarea {font-family: sans-serif;}
form label {display: block;/* instead of inline */ padding-bottom: 0.2em; padding-top: 1em;}
form label { display: block; /*instead inline*/ padding-bottom: 0.2em; padding-top: 1em;}
form input,form textarea {padding: 0.4em 0.3em;font-size: 1.5em;
/* these elements do not inherit the font-family from the body tag */
font-family: arial, helvetica, sans-serif; font-style: italic; font-weight: bold; text-decoration: #000094;
 /* border: 1px solid #bbb;*/
border-radius: 0.5em; min-width: 90%; max-width: 90%;}
form input[type="submit"] {min-width: 0; background-color: #e30; border: 0; border-radius: 0.2em; padding: 13px 30px; margin-top: 10px; font-size: 1em;text-transform: uppercase;font-weight: bold;color: white;transition: background-color 0.2s ease;}
form input[type="submit"]:hover {background-color: orchid; box-sizing: border-box; border-top-color: rebeccapurple; border-right-color: red;}
form input[type="submit"]:hover { background-color: rgb(219, 116, 20);}
/* footer */
footer {background-color: darkviolet; color: whitesmoke;}
footer {background: darkviolet;display: flex; height: 10vh; align-items: center; justify-content: center; color: whitesmoke;}
footer a:link {color: aqua;}
footer a:visited{color:violet;}
footer a:hover {color: whitesmoke;}
footer a:active{ color: turquoise;}
/*a links*/
a:link { color: purple;}
a:visited {color: cornflowerblue;}
a:hover {color:whitesmoke;}
a:active {color:darkblue;}
/*a:focus { color: aqua;}*/
/*Java script styling*/
.js-message {color: red;}
.js-modify-page { font-family: sans-serif;}
.js-modify-page .page-footer {background: darkblue;}
.js-modify-page h2 { letter-spacing: 2rem; font-weight: bolder;}
.js-modify-page img {filter: grayscale(100%);}
button.js-make-something-happen { font-weight: bold; background: skyblue; color: white; border: 0; padding: 1rem 2rem; font-size: 1rem; border-radius: 0.2rem;}
.js-modify-page p {color: black;}
.js-modify-page .about-me { background-color: blueviolet;}
.js-modify-page .image-gallery { background-color: cadetblue; background-image: url(../images/optimised-image.jpg);}
.js-modify-page .page-nav {background-color: plum; color: rebeccapurple;}
.js-modify-page .gate { background-color: plum; color: royalblue;}
.js-modify-page a:link {color: oldlace;}
/*js-modify page nav bar*/
.js-modify-page a:link { background-color: paleturquoise; color: rebeccapurple;}
.js-modify-page a:hover { background-color: royalblue;}
/* Responsive image design*/
img {max-width: 100%;  height: auto;}
/*Styling the video header*/
.create { text-transform: uppercase; font-weight: 900; font-size: 2rem; }
.picture {background-image: url(../images/optimised.jpg); padding: 10px 0 10px 0; height: 20%; width: 100%;}
/* all your styles for dark mode here */
@media (prefers-color-scheme: dark) {img {opacity: .75;transition: opacity .5s ease-in-out;}
img:hover { opacity: 5;}
.page-nav {background-color: purple;}
a:link { color: royalblue;}
a:hover {background-color: orange;}
.about-me {background-color: orchid;}}
p {text-align: center;}
/* Responsive CSS design*/
img {max-width: 100%; height: auto;} 
.container-content {max-width: 600px; margin: 0 auto; padding: 0 15px;} 
h5 {font-size: larger; font-weight: bold; color: blueviolet;}

